In [1]:
import pandas as pd

#### Series

In [3]:
s1 = pd.Series([56,32,12,36,58,79])

In [4]:
s1

0    56
1    32
2    12
3    36
4    58
5    79
dtype: int64

In [5]:
type(s1)

pandas.core.series.Series

In [6]:
s1[4]

58

In [7]:
s1[4] = 57

In [8]:
s1

0    56
1    32
2    12
3    36
4    57
5    79
dtype: int64

In [9]:
s1.max()

79

In [11]:
s1.values

array([56, 32, 12, 36, 57, 79])

In [12]:
s1 / 5

0    11.2
1     6.4
2     2.4
3     7.2
4    11.4
5    15.8
dtype: float64

#### DataFrame

In [14]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series(['Kiran','Harshal','Ravi','Priya','Asha'])
s3 = pd.Series([56.78, 89.67, 74.65, 82.34, 65.33])

In [15]:
df = pd.DataFrame({
    'roll': s1,
    'name': s2,
    'marks': s3
})

In [16]:
df

   roll     name  marks
0     1    Kiran  56.78
1     2  Harshal  89.67
2     3     Ravi  74.65
3     4    Priya  82.34
4     5     Asha  65.33

In [17]:
type(df)

pandas.core.frame.DataFrame

In [18]:
df.shape

(5, 3)

In [19]:
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series(['Kiran','Harshal','Ravi','Priya','Asha'])
s3 = pd.Series([56.78, 89.67, 74.65, 82.34])
df1 = pd.DataFrame({
    'roll': s1,
    'name': s2,
    'marks': s3
})
df1

   roll     name  marks
0     1    Kiran  56.78
1     2  Harshal  89.67
2     3     Ravi  74.65
3     4    Priya  82.34
4     5     Asha    NaN